<header>
  <h1>In Statie</h1>
  <nav>
    <a href="/stiri">Stiri</a>
    <a href="/harta">Harta</a>
    <a href="/statii">Statii</a>
    <a href="/notificari">Notificari</a>
    <a href="/export">Export</a>
  </nav>
</header>
<main>
  <my-stiri></my-stiri>
  <my-harta></my-harta>
  <my-statii></my-statii>
  <my-notificari></my-notificari>
  <my-export></my-export>
</main>
<div id="update-notification" role="alert">
  <div class="text">Update available!</div>
  <div class="actions">
    <button id="ignore">Ignore</button>
    <button id="update-now">Update now</button>
  </div>
</div>
